<%- include('templates/header', {title: title}) %>
<main class="mdl-layout__content">
    <div class="site-content">
        <div class="mdl-grid site-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
                <div class="mdl-card__title">
                    <h1 class="mdl-card__title-text"><%= title %></h1>
                </div>
                <div class="mdl-card__media"><img class="article-image" src='<%= img %>' border="0"
                        alt="Portfolio Page">
                </div>
                <div class="mdl-grid site-copy">
                    <div class="mdl-cell mdl-cell--12-col">
                        <p>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introducción</h3>
                        </p>
                        <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                            <p><%= description %>

                            </p>
                        </div>
                        <div class="mdl-grid">
                            <section class="section--center mdl-grid site-max-width">
                                <section class="section--center mdl-grid site-max-width homepage-portfolio">
                                    <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                                        href='<%= code %>' target="_blank">Ver
                                        Código</a>
                                </section>
                                <% if (test.length > 0) { %>
                                <section class="section--center mdl-grid site-max-width homepage-portfolio">
                                    <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                                        href='<%= test %>' target="_blank">Probar</a>
                                </section>
                                <% } %>

                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('templates/footer') %>